body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 65%;
    align-items: center;
}

#title {
    font-size: 36px;
    font-weight: bold;
    /* letter-spacing: 2px; */
}

#board {
    width: 345px; 
    height: 560px; /* was 420 */
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#answer {
    font-size: 36px;
    font-weight: bold;
    /* margin: 25px; */

}

.words {
    font-size: 36px;
    font-weight: bold;
}

.space-tile {
    /* border: 2px solid lightgray; */
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard-row {
    width: 360px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.key-tile {
    /* Box */
    border: 1px solid lightgray;
    width: 30px;
    height: 36px;
    margin: 1px;

    /* Text */
    color: black;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.key-tile:active {
    transform: scale(0.95);
    /* Scaling button to 0.98 to its original size */
    /* box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); */
    /* Lowering the shadow */
}

.enter-key-tile {
    /* Box */
    border: 1px solid lightgray;
    width: 70px;
    height: 36px;
    margin: 1px;

    /* Text */
    color: black;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    /* box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); */
    /* Lowering the shadow */
}

.btn {
    /* position: absolute;
    top: 50%;
    padding: 16px 32px;
    left: 50%;
    transform translate(-50, -50); */

    margin: auto;
    width: 30%;
    /* border: 3px solid green; */
    padding: 10px;

    background-color: #1389ce;
    border: none;
    color: white;
    /* padding: 16px 32px; */
    text-align: center;
    font-size: 16px;
    /* margin: 4px 2px; */
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.bro {
    background-color: #1389ce; /*#6AAA64*/
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;

}

.btn:hover {opacity: 1.5}

.correct {
    /* border: 1px transparent; */
    /* margin: 5px; */
    background-color: #1389ce;
    color: white;
    border-color: white;
}

.present {
    /* border: 1px transparent; */
    /* margin: 5px; */
    background-color: #b143c7; /* #C9B458 */
    color: white;
    border-color: white;
}

.absent {
    /* border: 1px transparent; */
    /* margin: 5px; */
    background-color: #787C7E;
    color: white;
    border-color:white;
}

.correct-kb {

    /* Box */
    border: 1px solid lightgray;
    width: 30px;
    height: 36px;
    margin: 1px;

    /* Text */
    /* color: black; */
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1389ce;
    color: white;
    border-color: white;

    cursor: default;
}

.present-kb {

    /* Box */
    border: 1px solid lightgray;
    width: 30px;
    height: 36px;
    margin: 1px;

    /* Text */
    /* color: black; */
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #b143c7; /* #C9B458 */
    color: white;
    border-color: white;

    cursor: default;
}

.absent-kb {

    /* Box */
    border: 1px solid lightgray;
    width: 30px;
    height: 36px;
    margin: 1px;

    /* Text */
    /* color: black; */
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #787C7E;
    color: white;
    border-color:white;

    cursor: default;
}
